.notification-icon {
    padding: 6px 7px;
}

.truncate-text{
    white-space: nowrap !important; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.bold{
    font-weight: 600 !important;
}

.quantic-time{
    font-size: 11px;
    font-style: italic;
    position: absolute;
    right: 35px;
}